/* ==========================================================================
   Responsive
   ========================================================================== */


/* Landscape phones and down */

@media (max-width: 480px) {
	.logo {
		margin-right: 1em;
	}
	.buscar {
		display: none;
	}
	.barra {
		display: none;
	}
	#contenedor {
		margin-top: 5.5em;
	}
	.lista {
		display: block;
		margin-bottom: 2em;
	}
	#contenedorLista {
		width: 80%;
		margin-bottom: 3em;
	}
	.contenedorLista {
		width: 210px;
		display: block;
		margin-bottom: 2em;
	}
	#span {
		width: 200px;
	}
	#textoLista {
		width: 190px;
	}
}


/* Landscape phone to portrait tablet */

@media (min-width: 481px) and (max-width: 767px) {
	.buscar {
		display: none;
	}
	.barra {
		display: none;
	}
	#contenedor {
		margin-top: 5.5em;
	}
	.lista {
		margin-bottom: 2em;
		display: block;
	}
	#contenedorLista {
		width: 78%;
	}
}
